header{
    height: 100px; 
    font-family: 'Noto Sans JP', 'Patrick Hand';
    padding-right: 5px;
}
#cabecalho{
    float:left;
    padding: 5px;
}
#cabecalho .direita{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
#menu{
    float: right;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
header li {
    display: inline;
    margin-left: 15px;
    text-decoration: none;
}
.botao{
    border: 1px solid;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
.botao:hover{
    border: 2px solid;
    text-decoration: none;
}
header a li, header a li:visited, header a li:link{
    text-decoration: none;
}
header a{
    text-decoration: none;
}
#home{
    float: right;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
}
/* Botão animado*/
.theme-button{
    width: 50px;
    height: 25px;
    background-color:#696969;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 2px ;
    float: right;
    margin-left: 15px;
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    display: flex;
}
.circle img{
    margin: auto;
}
.right{
    animation: to_right 1s;
    left: 26px;
}
.left{
    animation: to_left 1s;
    left: 2px;
}
.ad-2s{
    animation-delay: -1s;
}
@keyframes to_right{
    from{left: 2px;}
    to{left: 26px;}
}
@keyframes to_left{
    from{left: 26px;}
    to{left: 2px;}
}
/*Fim botão animado*/
@font-face{
    font-family: 'Patrick Hand';
    src: url('../Fontes/PatrickHand-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face{
    font-family:'Noto Sans JP';
    src: url('../fontes/NotoSansJP-Regular.otf');
    font-style: normal;
    font-weight: 400;
}