header{
    background-color:slategray;
    color: black;
}
.botao{
    border-color: black;
}
.botao:hover{
    color:white;
    border-color: white;
}
.teste{
    background-color: white;
}
.circle{
    background-color:#696969;
}
header a li,header a li:visited,header a li:link {
    color:black;
}