table{
    border-radius: 5px;
    border:2px solid;
    margin: auto auto auto 5px;
    font-family: 'Roboto Slab';
    width: 725px;
    margin: 7.5px auto;
}
strong{
    font-family: initial;
}
blockquote {
	margin: 0 7px 0 5px;
    padding: 0 16px 0 10px;
    border-left:5px solid;
	border-color:rgba(0, 122, 204, 0.5);
	background: rgba(127, 127, 127, 0.1);
}
th {
    text-align:center;
}
td{
    font-family: 'Roboto Slab';
    font-size: 16px;
    text-align: left;
}
td,th{
    border-width: 1px 2px;
    border-style: solid;
    border-radius: 3px;
    font-size: 14px;
}
td.titulo, tr.subtitulo, th.titulo,.subtitulo td {
    text-align:center;
    border:2px solid ;
    font-weight: bold;
}
td a{
    color: #4080D0;
	text-decoration: none;
}
#container{
    display: grid;
    grid-template-columns: 45% 45%;
}
td a:hover{
    text-decoration: underline;
}
.tag{
    font-size: 14px;
    text-align: center;
    color: blue;
}
.orange{
    color: #C9AE75;
}
tr td:first-child,tr td:last-child{
    text-align: center;
}
.ta-left{
    text-align: left !important;
    vertical-align: baseline;
}
.string{
    color: #CE9178;
}
pre{
    background-color: black;
    color: #e5e5e5;
    border-radius: 3px;
}
code{
    border-radius: 3px;
    background-color:#484848;
    padding: 0 5px;
}
.tag,.mm{
    font-family: 'Courier Prime','Literata', monospace;
    font-weight: bold;
}
.inherit{
    background-color: inherit;
    color: inherit;
    margin: 0;
    font-family: inherit;
    font-weight:inherit;
}
@font-face{
    font-family: 'Roboto Slab';
    src: url('/fontes/RobotoSlab-Medium.ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face{
    font-family: 'Courier Prime';
    src: url('../../fontes/CourierPrime-Regular.ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}